@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

input,
select,
button,
textarea {
  @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-1;
}

body.tv-mode header {
  display: none;
}

body.tv-mode main {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
